.nav::before {
  content: "";
  background: #000;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.content::before {
  content: url("./assets/content-image01.jpg");
  height: 60px;
  width: 60px;
  border-radius: 50px;
}
